html body .data-smartrr-top-price{
  display: flex;
  flex-wrap:wrap;
  gap:10px;
}
html body .data-smartrr-top-price afterpay-placement{
  order:1;
  width:100%;
  display:block;
}
html body .product-details  .cc-rating-container .cc-rating-custom-caption{
    left: 6px;
    line-height: 1;
    top: 3px;
}

html body .product-details  .cc-rating-container .cc-rating-stars--inactive svg{
  width:1.5em;
  height:1.5em;
}

html body .product-details .font-up{
font-family: Avenir Next;
font-size: 16px;
font-weight: 700;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
color: #302BA3;  
}

html body .choose-wrapper{
  display:flex;
  gap:10px;
}

html body .scroll-link{
  cursor:pointer;
  text-decoration:underline;
}

html body .radio-wrapper{
  border: 2px solid #302BA3;
  box-shadow: 2px 2px 6px 0px #302BA340;
  background-color:#FFFAF6;
  min-height:200px;

}

html body .radio-wrapper  .smartrr-purchase-options{
  margin-right:0;
}

html body .varient-inner{
  display:flex;
}
html body .varient{
  min-width:90px;
  min-height:90px;
}
