html body .data-smartrr-top-price{
  display: flex;
  flex-wrap:wrap;
  gap:10px;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
html body .data-smartrr-top-price afterpay-placement{
  order:1;
  width:100%;
  display:block;
}
html body .product-details  .cc-rating-container .cc-rating-custom-caption{
    left: 6px;
    line-height: 1;
    top: 3px;
}

html body .product-details  .cc-rating-container .cc-rating-stars--inactive svg{
  width:25px;
  height:25px;
}

html body .product-details .font-up{
font-family: Avenir Next;
font-size: 16px;
font-weight: 700;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
color: #302BA3;  
}

html body .choose-wrapper{
  display:flex;
  gap:10px;
  margin:20px 0;
}

html body .scroll-link{
  cursor:pointer;
  text-decoration:underline;
}

html body .radio-wrapper{
  border: 2px solid #302BA3;
  box-shadow: 2px 2px 6px 0px #302BA340;
  background-color:#FFFAF6;
  min-height:200px;
  border-radius:6px;
  overflow:hidden;

}

html body .radio-wrapper  .smartrr-purchase-options{
  margin-right:0;
}
html body .varient-inner{
  display:flex;
  gap:20px;
  margin-bottom:20px;
}
html body .varient{
    min-width: 73px;
    min-height: 73px;
    border: 1px solid #302BA3;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    z-index: 9;  
    padding-bottom: 10px;
}

html body .varient.active{
  background:#302ba3;
  color:#fff;
}
html body .smartrr-purchase-options .smartrr-selling-plan-group-input-display:before{
  border:2px solid #302BA3 ;
}

html body .smartrr-purchase-options .smartrr-selling-plan-group-input-display:after{
  background:#302BA3 ;
}

.smartrr-purchase-options div[data-smartrr-selling-plan-groups] > div{
    padding:16px 4px;  
}


html body .radio-wrapper  .color-active{
  background-color:#fdf3eb;
    box-shadow: 2px 2px 6px 0px #302BA340;
}

.bm-description-wrapper .varient-description  {
  margin:20px 0;
}

.bm-description-wrapper .varient-description p {
font-family: Avenir Next;
font-size: 16px;
font-weight: 700;
line-height: 22px;
letter-spacing: 0em;
text-align: left;

}


.product-details >.product-detail__gap-sm.rte.product-area__rte:nth-child(3),
.variant-select
{
  display:none;
}


div[data-smartrr-benefits-all]{
  padding:8px 0;
}


 .Light:after{
  content:'';
  background-image:url('https://cdn.shopify.com/s/files/1/0384/8254/2731/files/Light_1080x@2x.png?v=1691989209');
  background-size: auto;
    background-position: 12px 25px;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: 1;
    left: 0;
}

.Light.active:after{
  background-image:url('https://cdn.shopify.com/s/files/1/0384/8254/2731/files/LightActive_1080x@2x.png?v=1691989218')
 
}


/* .Regular:after{
  	https://cdn.shopify.com/s/files/1/0384/8254/2731/files/Regular_1080x@2x.png?v=1691989209
}

.super{
  https://cdn.shopify.com/s/files/1/0384/8254/2731/files/super_1080x@2x.png?v=1691989209
}




regularacctive{
  	https://cdn.shopify.com/s/files/1/0384/8254/2731/files/RegularActive_1080x@2x.png?v=1691989209
}

combo{
  	https://cdn.shopify.com/s/files/1/0384/8254/2731/files/ComboActive_1080x@2x.png?v=1691989210
} */